$accent: #D7B399;
$dark: #2121;
$light: #f9f6f1;
$gray: #CBCFD4; 
$dark-gray: #8d8d8d;
$important: #da3f3f;


.page-light {
  background-color: $light;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
}